<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>SVG Circle Progress and AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

  <body ng-app="app">


    <br/>
    <br/>
    <br/>
    <br/>

    <div ng-controller="testCtrl" ng-init="init2(78, 4, '1', 'false')">
      <div>
        <form novalidate ng-init="init(78, 4, '1', 'false')">
          Percentage: <input type="text" ng-model="completionPercent" placeholder="Enter Percentage"/><br />
          Duration: <input type="text" ng-model="duration" placeholder="Enter Duration"/><br />
          Repeat: <input type="radio" ng-model="repeat" value="indefinite" />indefinite
          <input type="radio" ng-model="repeat" value="1" />1<br />
          Return: <input type="radio" ng-model="return" value=true />true
          <input type="radio" ng-model="return" value=false />false<br />
          <input type="submit" ng-click="submit()" value="Again" />
        </form>
        <pre>Percentage = {{completionPercent}}</pre>
        <pre>Repeat = {{repeat}}</pre>
        <pre>Duration = {{duration}}</pre>
        <pre>Interval = {{interval}}</pre>
      </div>


  <pie-chart 	duration='{{duration}}' completionPercent='{{completionPercent}}'
                repeat='{{repeat}}' returning='{{return}}' interval='{{interval}}'></pie-chart>
</div>


  </body>
</html>
